:root {
    --primary: #ffbf00;
    --gold: #ca8d22;
    --dark: #153327;
    --bg-dark: #181818;
    --light-gray: #cebe9c;
    --silver: #C0C0C0;
    --light-tan: #ffdc73;
    --orange: #dd4200;

    --dark-font: #0f0f0f;
    --teal: #2C806F;
    --light-blue: #4382C7;
    --white: #F9F6EE;
    --emerald: #42c787;
    --secondary: #C74356;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    background-color: var(--white);
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.header {
    padding-top: 40px;
    justify-content: center;
    align-items: center;
}

h1 {
    font-weight: 300;
    font-size: 40px;
}

h2 {
    color: var(--dark-font);
    margin: 20px 0px;
    font-weight: 300;
    font-size: 34px;
}

.flex {
    display: flex;
}

.bar {
    width: 100%;
    height: 5px;
    background-color: var(--bg-dark);
}

input, textarea {
    color: var(--white);
    padding: 0px 5px;
}

nav {
    justify-content: space-between;
    height: 60px;
    background-color: var(--emerald);
    align-items: center;
    padding-right: 40px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 15px;
}

.logo {
    height: 30px;
    width: 50px;
    margin-left: 25px;
}

.nav-links {
    gap: 40px;
}

nav a {
    font-size: 20px;
    color: var(--dark-font);
    text-decoration: none;
}

nav a:hover {
    color: var(--white);
} 

.current {
    color: var(--white);
    border-bottom: 1px solid var(--white);
}

#hero {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 570px;
    background: var(--emerald);
}

#hero img {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    border: 1px solid var(--dark-font);
}

#hero p {
    color: var(--dark-font);
    margin: 40px 200px;
    font-size: 25px;
    text-align: center;
}

#info {
    background-color: var(--white);
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-container {
    color: var(--dark-font);
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
}

.cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 260px;
}

.cell img {
    margin-bottom: 5px;
}

.cell p {
    text-align: center;
    color: var(--dark-font);
    font-size: 18px;
}

.divider {
    width: 1px;
    margin-top: 20px;
    border: 1px solid var(--dark-font);
    height: 120px;
}

.chevron {
    position: relative;
    text-align: center;
    padding: 12px;
    height: 80px;
    background: var(--white);
}

.chevron:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background: var(--bg-dark);
    transform: skew(0deg, 6deg);
}

.chevron:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background: var(--bg-dark);
    transform: skew(0deg, -6deg);
}

#contact {
    height: 550px;
    background-color: var(--white);
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.contact-container {
    width: 700px;
    height: 400px;
    background-image: linear-gradient(0deg, var(--dark) 0%, var(--emerald) 60%);
    border-radius: 15px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 15px;
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#message {
    height: 170px;
    width: 400px;
    background: none;
    border-radius: 10px;
    border: 1px solid var(--bg-dark);
    resize: none;
    outline: none;
}

.text-input {
    background: none;
    height: 40px;
    border: 1px solid var(--bg-dark);
    border-radius: 10px;
    resize: none;
    outline: none;
}

label {
    color: var(--dark-font);
    margin-right: 10px;
    font-size: 18px;
}

#submit-btn {
    background: none;
    color: var(--white);
    font-size: 16px;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--bg-dark);
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 15px;
}

#submit-btn:hover {
    transform: scale(1.05);
    color: var(--white);
    background: var(--emerald);
}

input[type="text"]::placeholder,
input[type="email"]::placeholder {
    padding-left: 5px;
    color: var(--bg-dark);
}

textarea::placeholder {
    padding-top: 2px;
    padding-left: 10px;
    color: var(--bg-dark);
}

textarea:focus,
input:focus {
    padding-left: 8px;
    color: var(--white);
    font-size: 14px;
}

input:focus::placeholder,
textarea:focus::placeholder{
    color: transparent;
}

/* Footer */
footer {
    background: var(--emerald);
}

.footer-container {
    height: 250px;
    justify-content: center;   
    align-items: center;
    font-size: 24px;
    color: var(--dark-font);
    gap: 60px;
}

.footer-logo {
    height: 80px;
    padding-top: 20px;
}

.footer-info p {
    padding-bottom: 10px;
}

.footer-links {
    display: flex;
    gap: 40px;
}

footer a {
    text-decoration: none;
    color: var(--dark-font);
    margin-bottom: 15px;
}

i {
    color: var(--dark-font);
}

.footer-links i:hover {
    color: var(--white);
}

.icon {
    font-size: 50px;
    transition: transform 0.3s ease-in-out;
}

.icon:hover {
    transform: rotate(360deg) scale(1.2);
}

.copyright {
    justify-content: center;
    font-size: 18px;
    height: 30px;
}

/* Portfolio page */
#portfolio {
    margin: 40px 40px 0px 40px;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}

.grid-item {
    min-width: 0;
    min-height: 0;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 15px;
    border-radius: 5px;
    text-align: center;	
	position: relative;
	cursor: pointer;	
	perspective: 500px; 
}

.grid-item img {
    max-width: 100%;
    height: 100%;
    border-radius: 5px;
}

.grid-item:hover {
    transform: scale(1.07);
}

.grid-item .text {
	width: 70%;
	height: 80%;	
	padding: 5% 8%;
	position: absolute;
	content: "";
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotateY(90deg);
	transform-origin: 50%;
	background: rgba(255,255,255,0.9);	
	opacity: 0;
	transition: all 0.4s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;	
    flex-direction: column;
    outline: 2px var(--emerald) solid;
    border-radius: 5px;
}

.grid-item .text h4 {
    margin: 0;
    color: var(--dark-font);
    font-size: 22px;
    font-weight: 400;
}

.grid-item:hover .text {
    transform: translate(-50%, -50%) rotateY(0deg);
	opacity: 1;
}

.grid-item .text p {
    color: var(--dark-font);
    font-size: 16px;
}

.grid-item .tech h5 {
    color: var(--dark-font);
    font-size: 19px;
    padding: 5px;
    font-weight: 400;
}

/* About Page */
#about {
    margin: 40px;
}

.about-image {
    height: 500px;
    width: 400px;
    object-fit: cover;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 15px;
}

.about-wrapper {
    gap: 60px;
    align-items: center;
    justify-content: center;
}

.about-txt h1 {
    font-size: 50px;
    margin-bottom: 30px;
}

.about-txt div {
    width: 700px;
    background-color: var(--emerald);
    padding: 60px;
    border-radius: 15px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 15px;
}
.about-txt p {
    font-size: 25px;
    text-align: center;
    color: var(--dark-font);
}

/* Media Queries */
@media only screen and (max-width: 400px) {
    #hero img {
        height: 200px;
        width: 200px;
    }

    #hero p {
        margin: 40px;
    }

    .footer-container {
        height: 500px;
        gap: 20px;
        flex-direction: column;
    }

    .footer-container .divider {
        height: 1px;
        width: 50px;
    }

    .info-container {
        gap: 10px;
        flex-direction: column;
    }

    .info-container .divider {
        height: 0px;
        width: 0px;
        border: none;
    }

    #info {
        height: 800px;
    }

    .contact-container {
        width: 340px;
    }

    .contact-container #message {
        width: 280px;
    }

    nav {
        padding-right: 20px;
    }

    .logo {
        margin-left: 10px;
    }

    .portfolio-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .header {
        text-align: center;
    }

    #contact {
        height: 500px;
    }

    .grid-item img {
        max-height: 200px;
        max-width: 295px;
    }
}